body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #242424;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 4em;
  color: white;
  margin-bottom: 2rem;
}

button {
  padding: 1em 2em;
  font-size: 1.2em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #646cff;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #535bf2;
}
